@{
	Layout  = "layout.cshtml";
}

<form action="/packages/@Model.PackageName/install" method="POST">
	<input type="submit" value="Install Latest"></input>
</form>

<h2>Available Package Versions for @Model.PackageName</h2>
<form method="post" action="/packages/@Model.PackageName/install">
	<input type="submit" value="Update to:"/> <select name="specificVersion">
	@foreach(string version in Model.CachedVersions)
	{
		<option>@version</option>
	}
</select>
</form>