<!DOCTYPE html>
<html>
    <head>
        <title>Deployd.Agent</title>
    </head>
    <body>
        <h1>Deployd.Agent</h1>
        
        <h2>Available Package Versions for @Model.PackageName</h2>
        @foreach(var package in Model)
        {
            @package <br/>
        }

    </body>
</html>