<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="deployd" type="Deployd.Core.AgentConfiguration.DeploydConfiguration, Deployd.Core" requirePermission="false" />
  </configSections>

  <deployd>
    <environments>
      <environment name="Staging">
        <packages>
          <package name="justgiving-sdk"/>
        </packages>
      </environment>
      <environment name="Production">
        <packages>
          <package name="justgiving-sdk"/>
        </packages>
      </environment>
    </environments>
  </deployd>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>