@model dynamic

@{
    ViewBag.Title = "title";
}

@section scripts
{
}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
  <script src="/Scripts/underscore.js"></script>
  <script src="/Scripts/backbone.js"></script>
    <script src="/Scripts/Views/home.js" type="text/javascript"></script>
    
<script type="text/template" id="app-template">
    <input name='hostname' id='new-agent-hostname' type='textbox' />
    <button id='add'>Add Agent</button>
    <ul>
    <%_.each(models, function(agent) {%>
        <%=_.template(_agentTemplate, agent)%> 
    <%});%>
    </ul>

</script>

<script type="text/template" id="agent-row-template">
	<li id="<%=hostname%>">
    <input type="checkbox" id="select-<%=hostname%>" data-value="<%=hostname%>" name="select-agent" <%if (selected){%> checked<%}%> />
        <label for="select-<%=hostname%>"><%=hostname%></label> (<%=tags%>) <a class="unregister-agent" href="javascript:void(0);">unregister</a>
        <%if (packages&&packages.length==0) {%>
            No packages
        <%} else {%>
            <ul>
            <%_.each(packages, function(package) {%>
                <%=_.template(_packageTemplate, package)%>
            <%});%>
            </ul>
        <%}%>
        <%if (currentTasks&&currentTasks.length != 0) {%>
            <ul>
                <%_.each(currentTasks, function(task) {%>
                    <%=_.template(_taskTemplate, task)%>
                <%});%>
            </ul>
        <%}%>
    </li>
</script>

<script type="text/template" id="task-template">
    <li><%=PackageId%> <%=Version%>: <%=Status%>, <%=LastMessage%></li>
</script>

<script type="text/template" id="package-cell-template">
    <li>
    <%=packageId%> 
    <%if (installed) {%> 
        (<%=installedVersion%>) 
    <%} else {%>
        Not installed
    <%}%>
    </li>
</script>

<app></app>
