@model dynamic

@{
    ViewBag.Title = "title";
}

@section scripts
{
}
<link href="/Content/themes/base/jquery-ui.css" rel="stylesheet"/>
<link href="/Content/views/home.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="/scripts/jquery-ui.min.js"></script>
  <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
  <script src="/Scripts/underscore.js"></script>
<script src="/Scripts/backbone.js"></script>
<script type="text/javascript" src="/Scripts/jsinq.js"></script>
<script src="/Scripts/Views/home.js" type="text/javascript"></script>


<div id="app"></div>

<script type="text/template" id="app-template">
    <div id="version-select"></div>
    <ul id="agents">
    </ul>
</script>

<script type="text/template" id="add-agent-form-template">
    <input name='hostname' id='new-agent-hostname' type='textbox' /> <button id='add'>Add Agent</button>
</script>

<script type="text/template" id="agent-row-template">
	<li class="agent" id="<%=hostname%>">
    <input type="checkbox" id="select-<%=hostname%>" data-value="<%=hostname%>" name="select-agent"  />
        <label for="select-<%=hostname%>" class="agent-hostname">
            <%=hostname%>
            <%if (stale) {%> (!) <%}%>
        </label> (<%=environment%>) 
        <%if (approved) {%>
            <a class="manage-agent" data-id="<%=hostname%>" href="javascript:void(0);">manage</a>&nbsp;
            <a class="agent-logs" href="#/logs/<%=hostname%>">Logs</a>&nbsp;
            <a class="unregister-agent" href="javascript:void(0);"><img src="/content/images/delete.png" alt="unregister agent" title="unregister agent" /></a>
            <%if (packages&&packages.length>0) {
                var distinctVersions=[];
                var installedVersions = new jsinq.Enumerable(packages)
                                                    .where(function(p) { return p.installed; })
                                                    .groupBy(function(p) { return p.installedVersion; })
                                                    .select(function(g) { return { version: g.key, count: g.count()}; });
                installedVersions.each(function(version, index) {%>
                    <%=version.version%> (<%=version.count%>)
                <%});%>
            <%}%>
            
            <%if (currentTasks&&currentTasks.length != 0) {%>
                <ul class="tasks">
                    <%_.each(currentTasks, function(task) {%>
                        <%=_.template(_taskTemplate, task)%>
                    <%});%>
                </ul>
            <%}%>
        <%} else {%>
            Not approved (<a href="/agents">Manage Agents</a>)
        <%}%>
    </li>
</script>

<script type="text/template" id="task-template">
    <li class="task"><span class="package-id"><%=packageId%></span> <span class="package-version"><%=version%></span>: <span class="task-status"><%=status%></span>, <span class="task-message"><%=lastMessage%></span></li>
</script>

<script type="text/template" id="package-template">
    <li class="package"><%=packageId%><%if (installed) {%>(<%=installedVersion%>)<%} else {%>Not installed<%}%>
    <%if (currentTask!= null) {%>-> <%=currentTask.version%>: <%=currentTask.status%>, <%=currentTask.lastMessage%><%}%>
    </li>
</script>

<script type="text/template" id="manage-agent-template">
    <div class="dialog" id="manage-agent">
    <h2><%=hostname%></h2>
    <ul class="manage-agent">
        <form id="apply-versions-form" method="POST" action="/api/agent/<%=hostname%>/applyVersions">
    <%_.each(packages, function(package) {%>
        <li>
            <input type="checkbox" id="select-<%=package.packageId%>" name="select-<%=package.packageId%>" data-id="<%=package.packageId%>" class="select-package" />
            <label for="select-<%=package.packageId%>" data-id="<%=package.packageId%>"><%=package.packageId%> <%if (package.installed) {%>(<%=package.installedVersion%>)<%}%></label>
            &nbsp; <a href="/#/logs/<%=hostname%>/<%=package.packageId%>">Logs</a>
            <div class="package-control" style="display:none">
            <select name="<%=package.packageId%>">
                <%_.each(package.availableVersions, function(version) {%>
                    <option value="<%=version%>"><%=version%></option>
                <%});%>
            </select> <button style="display:none" class="update-agent" data-packageid="<%=package.packageId%>">Update</button>
            </div>
            
        <div class="manage-agent-current-task"><%if (package.currentTask!= null) {%>-> <%=package.currentTask.version%>: <%=package.currentTask.status%>, <%=package.currentTask.lastMessage%><%}%></div>
        </li>
    <%});%>
        <input type="submit" value="Update All on <%=hostname%>" />
    </form>
    </ul>
    </div>
</script>

<script type="text/template" id="update-agents-template">
    Update selected agents to version <select name="allVersions"><option value="latest">latest</option><%_.each(models, function(version){%><option value="<%=version.get("version")%>"><%=version.get("version")%></option><%});%></select><button id="updateSelected">Update Selected</button>
</script>

<script type="text/template" id="agent-log-packages-list-template">
    <p><a href="/#">&lt; up to agent list</a></p>
    <h2>Server logs for <%=hostname%></h2>
    <ul>
        <% _(serverLogCollection.models).each(function(log) {%>
            <%console.log('log file: ' + log.get('LogFileName'));%>
            <li><a href="/#/logs/<%=hostname%>/server/<%=log.get('LogFileName')%>"><%=log.get('LogFileName')%> <%=log.get('DateCreatedString')%></a></li>
        <%});%>
    </ul>
    <h2>Package logs for <%=hostname%></h2>
    <ul>
        <% _(logs.models).each(function(logFileFolder) {%>
            <li><a href="#/logs/<%=hostname%>/<%=logFileFolder.get('PackageId')%>"><%=logFileFolder.get('PackageId')%></a></li>
        <%});%>
    </ul>
</script>

<script type="text/template" id="log-file-list-template">
    <p><a href="/#/logs/<%=hostname%>">&lt; up to <%=hostname%></a></p>

    <p>Log files for <%=packageId%></p>
    
    <ul>
    <%_(models).each(function(logFile) {%>
        <li><a href="/#/logs/<%=hostname%>/<%=packageId%>/<%=logFile.get('LogFileName')%>"><%=logFile.get('DateCreatedString')%></a></li>
    <%});%>
    </ul>

</script>

<script type="text/template" id="log-file-template">
    <p><a href="/#/logs/<%=hostname%>/<%=packageId%>">&lt; up to logs for <%=packageId%></a></p>
    
    <h2><%=fileName%></h2>
    
    <div><%=get('LogContents')%></div>
</script>