@{
	Layout  = "layout.cshtml";
}
<h2>Installation Logs for @Model.PackageId</h2>
        
@if (Model.Logs != null)
{
    foreach (var log in Model.Logs)
    {
        <p><a href="/log/@log.PackageId/@log.LogFileName">@log.LogFileName</a></p>
    }
}
