<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @RenderSection("scripts", false)
</head>

    <body>
        <ul class="navigation">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/agents">Agents</a></li>
        </ul>

        @RenderBody()
    </body>
</html>
