body {
}

ul#agents {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.agent {
    display: block;
    padding: 8px;
    margin: 0;
    border: 4px solid #CCCCCC;
}

ul.packages {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.package {
    margin: 0;
    padding: 0;
    padding-left: 2em;
    margin-top: 0.5em;
}

a.unregister-agent {
    float: right;
}
label.agent-hostname {
    font-weight: bold;
    font-size: 1.2em;
}
ul.tasks li {
    color: green;
}