<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
  </configSections>
  <appSettings>
      <!-- set the environment this agent's host server is part of 
      e.g: Staging, Sandbox, Production-->
      <add key="DeploymentEnvironment" value="Production"/>

      <!-- set this to a url of a nuget feed
      e.g: http://build.justgiving.com:81/nuget-->
      <add key="NuGetRepository" value="http://build.justgiving.com/guestAuth/app/nuget/v1/FeedService.svc"/>
      
      <!-- where your projects are installed to -->
      <add key="BaseInstallationPath" value="c:\installations"/>

      <!-- no need to mess with the below really -->
      <add key="webPages:Enabled" value="false" />
      <add key="MsDeployServiceUrl" value="localhost"/>
      <add key="PackageSyncIntervalMs" value="60000"/>
      <add key="ConfigurationSyncIntervalMs" value="60000"/>
      <add key="InstallationDirectory" value="~\app_root"/>
    <add key="UnpackingLocation" value="~\app_unpack"/>
    <add key="LatestDirectory" value="~\latest"/>
    <add key="CacheDirectory" value="~\package_cache"/>
      <add key="LogsDirectory" value="~\logs"/>
      
    <add key="Tags" value="website service backoffice frontoffice"/>
  </appSettings>
  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      <add assembly="Deployd.Agent" />
        <add assembly="Deployd.Core" />
    </assemblies>
    <namespaces>
    </namespaces>
  </razor>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders>
    </compilation>
  </system.web>
    <log4net configSource="log4net.config" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>