<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.0" />
  <package id="Nancy" version="0.10.0" />
  <package id="Nancy.Hosting.Self" version="0.10.0" />
  <package id="Nancy.Hosting.Wcf" version="0.10.0" />
  <package id="Nancy.Viewengines.Razor" version="0.10.0" />
  <package id="Nancy.Viewengines.Spark" version="0.10.0" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="NuGet.Core" version="1.6.2" />
  <package id="Spark" version="1.5.1" />
  <package id="System.IO.Abstractions" version="1.4.0.12" />
</packages>