<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.0" />
  <package id="Nancy" version="0.11.0" />
  <package id="Nancy.Hosting.Self" version="0.11.0" />
  <package id="Nancy.Hosting.Wcf" version="0.11.0" />
  <package id="Nancy.Viewengines.Razor" version="0.11.0" />
  <package id="Nancy.Viewengines.Spark" version="0.11.0" />
  <package id="Ninject" version="3.0.1.10" />
  <package id="Ninject.Extensions.Logging" version="3.0.1.0" />
  <package id="Ninject.Extensions.Logging.Log4net" version="3.0.1.0" />
  <package id="NuGet.Core" version="2.0.1" />
  <package id="Spark" version="1.7.2.0" />
  <package id="System.IO.Abstractions" version="1.4.0.24" />
</packages>