<?xml version="1.0" encoding="utf-8"?>
<watch xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <groups>
        <group>Web</group>
        <group>Services</group>
        <group>Reporting</group>
    </groups>
    <packages>
      <package>package 1</package>
      <package>package 2</package>
      <package>package 3</package>
    </packages>
</watch>